body{

margin:0;
background:#0f0f0f;
color:white;
font-family:sans-serif;

}

header{

text-align:center;
padding:20px;
font-size:22px;

}

#gallery{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:20px;
padding:20px;

}

.card{

cursor:pointer;
transition:0.2s;